@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 96%;
    --foreground: 255 17% 7%;
    --muted: 210 20% 93%;
    --muted-foreground: 255 17% 20%;
    --popover: 210 40% 98%;
    --popover-foreground: 255 17% 7%;
    --card: 210 40% 96%;
    --card-foreground: 255 17% 7%;
    --border: 210 20% 85%; /* Subtly darker than background */
    --input: 210 20% 85%; /* Matches border for consistency */
    --primary: 255 17% 7%;
    --primary-foreground: 210 40% 98%;
    --secondary: 255 15% 90%; /* Soft neutral tone */
    --secondary-foreground: 255 17% 7%;
    --accent: 210 20% 88%; /* Darker but still soft purple */
    --accent-foreground: 255 17% 7%;
    --destructive: 0 50% 40%;
    --destructive-foreground: 255 17% 7%;
    --ring: 210 20% 80%; /* Soft, neutral highlight */

    /* Chart colors remain the same */
    --chart-1: 262 68% 54%; /* #7238DD */
    --chart-2: 74 80% 46%; /* #ADD015 */
    --chart-3: 207 80% 60%;
    --chart-4: 262 100% 91%; /* #E0D3FE */
    --chart-5: 69 84% 91%; /* #EEF9BF */

    /* Sidebar colors */
    --sidebar-background: 210 40% 96%;
    --sidebar-foreground: 255 17% 7%;
    --sidebar-primary: 255 17% 7%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 20% 92%; /* Subtle darkening for differentiation */
    --sidebar-accent-foreground: 255 17% 7%;
    --sidebar-border: 210 20% 85%; /* Matches input and border */
    --sidebar-ring: 210 20% 80%; /* Soft, minimal highlight */
  }

  .dark {
    --background: 255 17% 7%;
    --foreground: 210 40% 98%;
    --muted: 255 17% 7%;
    --muted-foreground: 210 40% 98%;
    --popover: 255 17% 7%;
    --popover-foreground: 210 40% 98%;
    --card: 255 18% 14%;
    --card-foreground: 210 40% 98%;
    --border: 255 18% 14%;
    --input: 255 18% 14%;
    --primary: 210 40% 98%;
    --primary-foreground: 255 17% 7%;
    --secondary: 255 18% 14%;
    --secondary-foreground: 210 40% 98%;
    --accent: 255 18% 14%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 50% 20%;
    --destructive-foreground: 210 40% 98%;
    --ring: 255 18% 14%;

    /* Chart colors - slightly brighter */
    --chart-1: 262 68% 54%; /* #7238DD */
    --chart-2: 74 80% 46%; /* #ADD015 */
    --chart-3: 207 80% 60%; /* Brighter & more vibrant */
    --chart-4: 262 100% 91%; /* #E0D3FE */
    --chart-5: 69 84% 91%; /* #EEF9BF */

    /* Sidebar colors */
    --sidebar-background: 255 18% 14%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 255 17% 7%;
    --sidebar-accent: 255 17% 7%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 255 17% 7%;
    --sidebar-ring: 255 18% 14%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  overscroll-behavior: none; /* Disables the overscroll effect */
}
